# Clock
NET "clk" LOC = "B8";

# LCD
NET "RW" LOC = "R15";
NET "RS" LOC = "M13";
NET "E"  LOC = "R18";

NET "LCD_DATA[7]" LOC = "M16";
NET "LCD_DATA[6]" LOC = "M14";
NET "LCD_DATA[5]" LOC = "L16";
NET "LCD_DATA[4]" LOC = "K13";
NET "LCD_DATA[3]" LOC = "M15";
NET "LCD_DATA[2]" LOC = "L17";
NET "LCD_DATA[1]" LOC = "K12";
NET "LCD_DATA[0]" LOC = "L15";

# Keyboard
NET "PS2_DATA" LOC = "P11";
NET "PS2_CLK" LOC = "R12";
NET "PS2_CLK" CLOCK_DEDICATED_ROUTE = FALSE;

# Debug
#NET "keycode_ready" LOC = "J14";
#NET "keyc[7]" LOC = "R4";
#NET "keyc[6]" LOC = "F4";
#NET "keyc[5]" LOC = "P15";
NET "count_LED[4]" LOC = "E17";
NET "count_led[3]" LOC = "K14";
NET "count_led[2]" LOC = "K15";
NET "count_led[1]" LOC = "J15";
NET "count_led[0]" LOC = "J14";
